/bin
/keymappings
/OpenWebIf - API.lnk
/Normale Sender.m3u
/OpenWebifController.jar
/sender.m3u
/stations.txt
/stations.xlsx
/stations_semicolon.txt
/test.m3u
/github/Screenshot2 - Timers.xcf
/github/Screenshots.xcf
/github/project-OpenWebifController.original.png
/OpenWebifController - AlreadySeenTimers.data
